apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: paystream
  labels:
    app: prometheus
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
      evaluation_interval: 15s

    rule_files:
      - /etc/prometheus/rules/*.yaml

    scrape_configs:
      - job_name: 'auth-service'
        kubernetes_sd_configs:
          - role: pod
            namespaces:
              names: ['paystream']
        relabel_configs:
          - source_labels: [__meta_kubernetes_pod_label_app]
            regex: auth-service
            action: keep
          - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_port]
            regex: (.+)
            target_label: __address__
            replacement: ${1}:8080
            action: replace
          - source_labels: [__meta_kubernetes_pod_label_version]
            target_label: version
          - source_labels: [__meta_kubernetes_pod_name]
            target_label: pod
