apiVersion: v1
kind: ServiceAccount
metadata:
  name: auth-service
  namespace: paystream
  labels:
    app: auth-service
    app.kubernetes.io/name: auth-service
    app.kubernetes.io/component: authorization
    app.kubernetes.io/part-of: paystream
